
  @import url('https://fonts.googleapis.com/css2?family=Onest:wght@700&display=swap');
  :root {
    --background-rgb: 29 30 34;
    
    --blue-rgb: 33 150 243;
    --primary-rgb: var(--blue-rgb);
    
    --blob-color-1: rgb(var(--blue-rgb));
    --blob-color-2: dodgerblue;
  }
  
  * {
      margin: 0;
      padding: 0;
        box-sizing: border-box;
  }
  
  body {
    /* height: 100vh; */
    width: 100vw;
    background-color: rgb(var(--background-rgb));
    margin: 0rem;
    overflow: hidden;
    margin-top: 10px;
  
  }